<ion-header [translucent]="true" mode="ios">
  <ion-toolbar>
    <ion-title>
      Headers
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense" mode="ios">
    <ion-toolbar>
      <ion-title size="large">Headers</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-segment [value]="selectedCategory" (ionChange)="segmentChanged($event) mode="md" scrollable="true">
    <ion-segment-button [value]="category" *ngFor="let category of categories">
      <ion-label>{{category}}</ion-label>
    </ion-segment-button>

  </ion-segment>
</ion-content>
