<ion-header [translucent]="true" mode="ios">
  <ion-toolbar>
    <ion-title>
      AIEP'S NEWS
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense" mode="ios">
    <ion-toolbar>
      <ion-title size="large">AIEP'S NEWS</ion-title>
    </ion-toolbar>  
  </ion-header>
  <app-articles [articles]="articles"></app-articles>
  <ion-infinite-scroll threshold="25%" position="bottom" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Cargando mas datos...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>