<ion-header [translucent]="true" mode="ios">
  <ion-toolbar>
    <ion-title>
      AIEP'S NEWS
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense" mode="ios">
    <ion-toolbar>
      <ion-title size="large">AIEP'S NEWS</ion-title>
    </ion-toolbar>
  </ion-header>
<ion-grid fixed>
  <ion-row>
    <ion-col *ngFor="Let article of articles, Let i = index">
      <ion-card>
        <ion-card-subtitle>
          <ion-row>
            <ion-col>
              <span>{{i+1}}. </span>
              <span>{{article.souce.name}}</span>
           </ion-col>
          </ion-row>
        </ion-card-subtitle>
        <ion-card-title>
          {{article.title}}
        </ion-card-title>
        <ion-img [src]="article.urlToImage"></ion-img>
      </ion-card>
    </ion-col>

  </ion-row>

</ion-grid>
</ion-content>